:root {
  --title-color: #2c2c54;
  --title-color-75: #2c2c54bf;
  --title-color-50: #2c2c5480;
  --title-color-25: #2c2c5440;
  --background-color: #eeeeee;
  --transition-speed: 600ms;
  --transition-style: cubic-bezier(0.65, 0, 0.35, 1);
}

@font-face {
  font-family: 'Yrsa';
  src: url("./fonts/Yrsa/Yrsa-SemiBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Yrsa';
  src: url("./fonts/Yrsa/Yrsa-Light.ttf") format("truetype");
  font-weight: 300;
}

:root {
  --title-color: #2c2c54;
  --title-color-75: #2c2c54bf;
  --title-color-50: #2c2c5480;
  --title-color-25: #2c2c5440;
  --background-color: #eeeeee;
  --transition-speed: 600ms;
  --transition-style: cubic-bezier(0.65, 0, 0.35, 1);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  overflow-y: hidden;
  margin: 0;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--title-color);
}

body {
  margin-inline: 1.5rem;
}

@media screen and (min-width: 769px) {
  body {
    margin-inline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yrsa";
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
  margin-top: 1rem;
  font-family: "Yrsa";
  font-weight: 300;
  font-size: 4.5rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

h2,
h3 {
  font-size: 2.25rem;
  line-height: 2rem;
  text-align: center;
}

h3 {
  color: var(--title-color-75);
}

.row {
  position: relative;
}

:root {
  --title-color: #2c2c54;
  --title-color-75: #2c2c54bf;
  --title-color-50: #2c2c5480;
  --title-color-25: #2c2c5440;
  --background-color: #eeeeee;
  --transition-speed: 600ms;
  --transition-style: cubic-bezier(0.65, 0, 0.35, 1);
}

header {
  position: fixed;
  text-align: center;
  width: calc(100% - 3rem);
  padding-top: 1.5rem;
  padding-bottom: 1.125rem;
  border-bottom: 2px solid var(--title-color-25);
  margin-bottom: 1.5rem;
  z-index: 1;
}

header:after {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--background-color);
  z-index: -1;
}

header h1 {
  font-size: 2rem;
  line-height: 1.5rem;
  color: var(--title-color-75);
}

header span {
  display: block;
  color: var(--title-color-50);
}

@media screen and (min-width: 769px) {
  header {
    max-width: 33.33%;
    top: calc(50vh - 250px);
    padding-block: 0;
    border-bottom: 0;
  }
  header:after {
    max-width: 33vw;
  }
  header h1 {
    text-align: right;
    margin-inline: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-inline: 1rem;
    font-size: clamp(2rem, 5.25vw, 6rem);
    line-height: clamp(1.5rem, 3.5vw, 4rem);
  }
  header h1 span {
    font-size: clamp(1.75rem, 3vw, 4rem);
    line-height: clamp(1.25rem, 4.5vw, 3rem);
  }
}

:root {
  --title-color: #2c2c54;
  --title-color-75: #2c2c54bf;
  --title-color-50: #2c2c5480;
  --title-color-25: #2c2c5440;
  --background-color: #eeeeee;
  --transition-speed: 600ms;
  --transition-style: cubic-bezier(0.65, 0, 0.35, 1);
}

main {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 25%;
  overflow-y: scroll;
  width: 100%;
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
}

@media screen and (min-width: 769px) {
  main {
    overscroll-behavior: contain;
    background-color: #dddddd;
    max-width: 66.67%;
    margin-left: 33.33%;
    gap: 3rem;
    padding-right: 16.5vw;
    grid-auto-columns: min(100%, 500px);
  }
  main:before {
    content: "";
    width: 100%;
  }
}

main .arrows {
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100vw;
}

main .arrows .arrow {
  --border: 3px solid var(--title-color-75);
  --border-null: 3px solid var(--title-color-25);
  --border-hover: 3px solid var(--title-color);
  --arrows: 6px solid var(--title-color-75);
  --arrows-null: 6px solid var(--title-color-25);
  --arrows-hover: 6px solid var(--title-color);
  position: absolute;
  height: 50px;
  width: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 50%;
  border: var(--border);
  -webkit-transition: all var(--transition-speed) var(--transition-style);
  transition: all var(--transition-speed) var(--transition-style);
  background-color: var(--background-color);
  cursor: pointer;
}

main .arrows .arrow:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-left: var(--arrows);
  border-bottom: var(--arrows);
  top: 25%;
  right: 25%;
  border-radius: 5px;
  -webkit-transition: all var(--transition-speed) var(--transition-style);
  transition: all var(--transition-speed) var(--transition-style);
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

main .arrows .arrow.left {
  left: 16px;
}

main .arrows .arrow.left:not(.inactive):hover {
  -webkit-transform: rotate(45deg) translate(-2px, 2px);
          transform: rotate(45deg) translate(-2px, 2px);
  border: var(--border-hover);
}

main .arrows .arrow.left:not(.inactive):hover:after {
  border-left: var(--arrows-hover);
  border-bottom: var(--arrows-hover);
  -webkit-transform: translate(-1px, 1px);
          transform: translate(-1px, 1px);
}

main .arrows .arrow.right {
  right: 16px;
}

main .arrows .arrow.right:after {
  -webkit-transform: scale(-1);
          transform: scale(-1);
  top: 32%;
  right: 32%;
}

main .arrows .arrow.right:not(.inactive):hover {
  -webkit-transform: rotate(45deg) translate(2px, -2px);
          transform: rotate(45deg) translate(2px, -2px);
  border: var(--border-hover);
}

main .arrows .arrow.right:not(.inactive):hover:after {
  border-left: var(--arrows-hover);
  border-bottom: var(--arrows-hover);
  -webkit-transform: scale(-1) translate(-1px, 1px);
          transform: scale(-1) translate(-1px, 1px);
}

main .arrows .arrow.inactive {
  border: var(--border-null);
}

main .arrows .arrow.inactive:after {
  border-left: var(--arrows-null);
  border-bottom: var(--arrows-null);
}

@media screen and (min-width: 769px) {
  main .arrows {
    left: 33vw;
    width: 67vw;
  }
  main .arrows .arrow.left {
    left: 5%;
  }
  main .arrows .arrow.right {
    right: 5%;
  }
}

main .col {
  scroll-snap-align: start;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 769px) {
  main .col {
    scroll-snap-align: center;
    width: 500px;
  }
}

main .row.has-image {
  width: 100%;
}

main .row.has-image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

main .row.has-image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .row + .row {
  margin-top: 12px;
}

main .row:first-child {
  margin-top: 7.25rem;
}

@media screen and (min-width: 769px) {
  main .row:first-child {
    margin-top: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

main .row:last-child {
  margin-bottom: 3rem;
}

@media screen and (min-width: 769px) {
  main .row:last-child {
    -webkit-transition: all var(--transition-speed) var(--transition-style);
    transition: all var(--transition-speed) var(--transition-style);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    position: fixed;
    left: 0;
    width: 33.33%;
    padding-inline: 1rem;
    top: calc(33.33% + 2rem);
  }
  main .row:last-child.active {
    -webkit-transition-delay: var(--transition-speed);
            transition-delay: var(--transition-speed);
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  main .row:last-child h2,
  main .row:last-child h3 {
    font-size: clamp(2.25rem, 3vw, 3.5rem);
    line-height: clamp(2.25rem, 3vw, 3.5rem);
  }
}

:root {
  --title-color: #2c2c54;
  --title-color-75: #2c2c54bf;
  --title-color-50: #2c2c5480;
  --title-color-25: #2c2c5440;
  --background-color: #eeeeee;
  --transition-speed: 600ms;
  --transition-style: cubic-bezier(0.65, 0, 0.35, 1);
}

footer {
  position: fixed;
  height: 3rem;
  width: calc(100% - 3rem);
  border-top: 2px solid var(--title-color-25);
  bottom: 0;
  background-color: var(--background-color);
}

footer a {
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-inline: auto;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

footer a img {
  -webkit-transition: all var(--transition-speed) var(--transition-style);
  transition: all var(--transition-speed) var(--transition-style);
}

footer a:hover h4 {
  border-color: var(--title-color);
}

footer a:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

footer h4 {
  font-size: 1.75rem;
  color: var(--title-color);
  margin-inline: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all var(--transition-speed) var(--transition-style);
  transition: all var(--transition-speed) var(--transition-style);
}

@media screen and (min-width: 769px) {
  footer {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    max-width: 33.33%;
    border-top: 0;
    bottom: calc(50vh - 250px);
  }
  footer h4 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 15px;
    border: 3px solid var(--title-color-50);
    padding: 0.25rem 1.5rem 0.125rem 1.5rem;
  }
}
