@import './variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: min-content;
  overflow-y: hidden;
  margin: 0;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--title-color);
}

body {
  margin-inline: 1.5rem;

  @media screen and (min-width: $breakpoint) {
    margin-inline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yrsa";
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
  margin-top: 1rem;
  font-family: "Yrsa";
  font-weight: 300;
  font-size: 4.5rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

h2,
h3 {
  font-size: 2.25rem;
  line-height: 2rem;
  text-align: center;
}

h3 {
  color: var(--title-color-75);
}

.row {
  position: relative;
}

@import './components/header';
@import './components/body';
@import './components/footer';
