@font-face {
  font-family: 'Yrsa';
  src: url('./fonts/Yrsa/Yrsa-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Yrsa';
  src: url('./fonts/Yrsa/Yrsa-Light.ttf') format('truetype');
  font-weight: 300;
}
