:root {
  --title-color: #2c2c54;
  --title-color-75: #2c2c54bf;
  --title-color-50: #2c2c5480;
  --title-color-25: #2c2c5440;
  --background-color: #eeeeee;
  --transition-speed: 600ms;
  --transition-style: cubic-bezier(0.65, 0, 0.35, 1);

  // sass-only variables
}

$breakpoint: 769px;
