@import "../variables";

footer {
  position: fixed;
  height: 3rem;
  width: calc(100% - 3rem);
  border-top: 2px solid var(--title-color-25);
  bottom: 0;
  background-color: var(--background-color);

  a {
    display: block;
    width: min-content;
    margin-inline: auto;
    transform: translateY(8px);

    img {
      transition: all 300ms cubic-bezier(0.65, 0, 0.35, 1);
    }

    &:hover {
      h4 {
        border-color: var(--title-color);
      }

      img {
        transform: translateX(5px);
      }
    }
  }

  h4 {
    font-size: 1.75rem;
    color: var(--title-color);
    margin-inline: auto;
    width: max-content;
    gap: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  @media screen and (min-width: 769px) {
    transform: translateY(-50%);
    max-width: 33.33%;
    border-top: 0;
    bottom: calc(50vh - 250px);
    h4 {
      width: max-content;
      border-radius: 15px;
      border: 3px solid var(--title-color-50);
      padding: 0.25rem 1.5rem 0.125rem 1.5rem;
    }
  }
}
