@import "../variables";

footer {
  position: fixed;
  height: 3rem;
  width: calc(100% - 3rem);
  border-top: 2px solid var(--title-color-25);
  bottom: 0;
  background-color: var(--background-color);

  a {
    display: block;
    width: min-content;
    margin-inline: auto;
    transform: translateY(8px);

    img {
      transition: all var(--transition-speed) var(--transition-style);
    }

    &:hover {
      h4 {
        border-color: var(--title-color);
      }

      img {
        transform: translateX(5px);

        @keyframes flyPlaneFly {
          0% {
            transform: translateX(5px);
          }
          10% {
            transform: translateX(-3px);
          }
          20% {
            transform: translateX(20px);
          }
          30% {
            transform: translateX(45px);
          }
          40% {
            transform: translateX(75px);
          }
          50% {
            transform: translateX(115px) translateY(-5px) rotate(-5deg);
          }
          60% {
            transform: translateX(165px) translateY(-15px) rotate(-8deg);
          }
          70% {
            transform: translateX(225px) translateY(-30px) rotate(-12deg);
            opacity: 1;
          }
          80% {
            transform: translateX(285px) translateY(-50px) rotate(-15deg);
          }
          90% {
            transform: translateX(370px) translateY(-75px) rotate(-20deg);
          }
          100% {
            transform: translateX(485px) translateY(-105px) rotate(-25deg);
            opacity: 0;
          }
        }

        &.active {
          animation: flyPlaneFly 1.5s;
          animation-timing-function: linear;
        }
      }
    }
  }

  h4 {
    font-size: 1.75rem;
    color: var(--title-color);
    margin-inline: auto;
    width: max-content;
    gap: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all var(--transition-speed) var(--transition-style);
  }

  @media screen and (min-width: 769px) {
    transform: translateY(-50%);
    max-width: 33.33%;
    border-top: 0;
    bottom: calc(50vh - 250px);
    h4 {
      width: max-content;
      border-radius: 15px;
      border: 3px solid var(--title-color-50);
      padding: 0.25rem 1.5rem 0.125rem 1.5rem;
    }
  }
}
